@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sidenavheight{
    height: calc(100vh - 2rem);
}

.table-row-group .table-row:nth-child(even) {background-color: #fff; color: #2b2b2b}
.table-row-group .table-row:nth-child(odd) {background-color: #7BA6A4; color: #2b2b2b}

.table-row input {
    background-color: transparent;
}

.tambahuserheight{
    height: calc(100vh - 7rem);
}

.active{
    border-bottom: 3px #2b2b2b;
}

.pdfheight{
    height: calc(100vh - 17rem);
}